


html{padding: 0;margin: 0;}
body{margin: 0;padding: 0; background-color: cornsilk;}
h4{text-align: center;}
.carousel-h{height: 800px;}
  form{padding-top: 1%;}
  footer{align-items: center;padding-bottom: 0%; padding-top: 5%}
.borda{background-color: none; padding:  15px;border-radius: 15px;}
.container-fluido {
  width: 96%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.alinhar {align-content: center;align-items: center;}
